<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>ChatApp</title>
</head>
<body>
    <main id="app">
		<div id="nav">
			<router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
			<router-link v-if="notice"  v-on:click.notice="notice()" replace>{{ notices }}</router-link>
		</div>
		<router-view @authenticated="setAuthenticated"/>
	</main>
	<footer>
		<p class="copy">&copy; 2020 Chat App</p>
	</footer>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>