<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>ChatApp</title>
</head>
<body>
    <main id="app">
		<section class="form-container">
			<label for="name">Your Nickname</label>
			<input type="text" id="name" class="name" placeholder="What is your nickname?">

			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>
    </main>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/vue"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>