<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Baloo+2:700|Source+Sans+Pro:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>ChatApp</title>
</head>
<body>
    <main id="app">
		<div id="nav">
			<router-link v-if="authenticated" to="/" v-on:click.native="logout()" replace><img src="images/logout.png" alt="logout"></router-link>
			<router-link v-if="set_authenticated" to="/welcome-to-chat"></router-link>
			
		</div>
		<router-view @authenticated="setAuthenticated"/>
	</main>
	<footer>
		<p class="copy">&copy; 2020 Chat App</p>
	</footer>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>